@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geis-mono: 'Geist Mono', cursive;

  --background: #ffffff; /* Blanco */
  --foreground: #242424; /* Negro */
  --rojo: #f04343; /* Negro */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #f8f8f6;
  }
} */
html {
  overflow-y: scroll; 
}

body {
  margin: 0;
}

* {
  font-family: var(--font-geis-mono);
}

*::-webkit-scrollbar{
  background-color: white;
}
*::-webkit-scrollbar-thumb{
  background-color: var(--rojo);
}
