@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins-regular: 'Poppins', cursive;

  --background: #ffffff; /* Blanco */
  --foreground: #242424; /* Negro */
  --rojo: #f04343; /* Negro */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #f8f8f6;
  }
} */
html {
  overflow-y: scroll; 
}

body {
  margin: 0;
}

* {
  font-family: var(--font-poppins-regular);
}

*::-webkit-scrollbar{
  background-color: var(--rojo);
  width: 10px;
}
*::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Clase para aplicar la animación */
.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}